{{#if progress}}
    {{>prog value=progress.value}}
{{/if}}

<div id="question-box" class="instructions-stim-container">
    <div id="questionnaire">
        <div class="row gap-2">
            <h3 class="bolded-blue">
                <span data-i18n="litw-question-page1-title"></span>
            </h3>
        </div>
        <h6 class="text-center" style="padding-bottom: 30px; padding-top: 20px" data-i18n="litw-question-page1-instructions"></h6>
    {{#each questions}}
        <div class="row mt-4" style="display:flex; justify-content: space-around; flex-direction: row; flex-wrap: nowrap; align-content: flex-end; align-items: center;">
            <h6 style="width: 120px; margin-left: auto; margin-top: 8px;"  data-type="question" class="bolded-blue">{{ this.text }}</h6>
            <input style="width: 50%; margin-right: auto" type="text" required="required" id="response-{{ this.id }}" name="response">
        </div>
    {{/each}}
    </div>
    <div id="complete-alert" class="alert alert-primary alert-dismissible fade show mt-4" role="alert"
         style="display: none;">
        <span data-i18n="litw-question-page1-alert"></span>
    </div>
    <div id="submit" class="row mt-4">
        <button id="button-save" type="button" class="btn btn-primary center-content" data-bs-toggle="button"
                data-i18n="litw-20-questions-save" onclick="finishQuestions()"></button>
    </div>
</div>

<script type="text/javascript">
    LITW.study.params.numQuestions = document.querySelectorAll('[data-type="question"]').length;

    function finishQuestions() {
        let isComplete = true;
        document.getElementById('complete-alert').style['display']='none';
        for (let index = 1; index <= LITW.study.params.numQuestions && isComplete; index++) {
            let input =  document.getElementById("response-" + index);
            let inputValue = String(input.value).trim();
            if (inputValue === '') {
                isComplete = false;
                document.getElementById('complete-alert').style['display']='';
            }
            LITW.study.params.questionsAndResponses[index] = inputValue;
        }
        if(isComplete) {
            document.getElementById('btn-next-page').click();
        }
    }

</script>